// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "jumpstart/sticky-footer";
@import "jumpstart/announcements";

.navbar {
background-color: #1DA1F2!important;
color:white!important;
}
.navbar li a {
color:white!important;
}
.navbar-brand {
color: white!important;
}

a.btn.btn-light {
  color:#1DA1F2!important;
}
.btn-danger {
background-color:rgb(201, 34, 145)!important; 
border-color:rgb(201, 34, 145)!important; 
text-decoration:none;
}

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}
